@media (min-width: 280px) and (max-width: 1024px) {
    footer .container .row ul {
        text-align: center !important;
    }

    footer .container .row p {
        text-align: center !important;
    }

    #landing .landingReg, #landing .landingLogin {
        padding: 10px 20px;
    }

    .button {
        padding: 10px 20px;
        font-size: 9px;
    }

    #courses figcaption {
        bottom: -620px;
    }

    #courses h3 a {
        font-size: 12px;
    }

    #courses figure span {
        display: none;
    }

}

@media (min-width: 280px) and (max-width: 560px) {

}