/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#siderWrap .wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #333333;
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #333333;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebarCollapse {
    outline: none;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 45px;
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: tomato;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #333333;
}

#siderWrap a[data-toggle="collapse"] {
    position: relative;
}

#siderWrap .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#siderWrap ul ul a {
    font-size: 14px !important;
    padding-left: 60px !important;
    background: #333333;
}

#siderWrap ul ul li a {
    font-size: 14px !important;
    font-weight: normal !important;
}

#siderWrap ul.CTAs {
    padding: 20px;
}

#siderWrap ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#siderWrap a.download {
    background: #fff;
    color: #7386D5;
}

#siderWrap a.article, #siderWrap a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#siderWrap #content {
    width: 100%;
    padding: 0 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
}

#sidebarCollapse span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
/ transform: rotate(45 deg) translate(2 px, 2 px);
}

#sidebarCollapse span:nth-of-type(2) {
    opacity: 0;
}

#sidebarCollapse span:last-of-type {
/ transform: rotate(- 45 deg) translate(1 px, - 1 px);
}

#sidebarCollapse.active span {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}

#siderWrap .imageTab {
    width: 100%;
    height: 480px;
}

#siderWrap .pagin {
    margin-top: 10px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        transform: rotateY(90deg);
    }

    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    #sidebarCollapse.active span {
        margin: 0 auto;
    }

    #sidebarCollapse.active span:first-of-type {
    / transform: rotate(45 deg) translate(2 px, 2 px);
    }

    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }

    #sidebarCollapse.active span:last-of-type {
    / transform: rotate(- 45 deg) translate(1 px, - 1 px);
    }

}

/*let's start*/
#siderWrap .content {
    margin: 0 0;
}

#siderWrap .content .question p {
    margin: 15px 0;
    color: tomato;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}

#siderWrap .content .question {
    padding: 30px 30px;
}

#siderWrap .content .question label {
    color: #000000;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}

#siderWrap .content .question button{
    padding: 10px 20px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}

#siderWrap .content .question .button{
    padding: 13px 20px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    transition: 0.5s ease;
    border: 1px solid transparent;
    text-decoration: none;
}

/*nav tab*/
#siderWrap .tab-content > .active {
    display: block;
/ padding: 50 px 0;
}

#siderWrap .nav-tabs {
    margin-left: 40px;
}

#siderWrap .nav-tabs .nav-link {
    border: none;
    border-radius: 0;
}

/*navbar*/
#siderWrap .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-weight: bold;
}
