@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Poppins');
:root {
    --white: #ffffff;
    --black: #000000;
    --blue:#0288d1;
    --gray:#ebebeb;
    --box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #637280;
    overflow-x: hidden;
}
:focus{
    outline: 0 solid transparent !important;
}
a {
    cursor: pointer;
}
p, li {
    font-weight: normal;
    line-height: 24px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: var(--blue);
    text-transform: uppercase;
}
/*==reset css*/
:focus{
    box-shadow: none!important;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
img{
    max-width: 100%;
}
ul{
    padding-left: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.section-heading {
    font-size: 1.87rem;
    font-weight: lighter;
    color: var(--blue);
    text-transform: uppercase;
    line-height: 3rem;
    margin: 0;
    position: relative;
}
@media (max-width: 767px) {
    .section-heading {
        font-size: 1.3rem;
        line-height: normal;
        padding: 20px 0;
        text-align: center;
    }
}
.button-effect {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    transition: all 0.3s;
}
.button-effect::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    background: #0288d1;
    height: 120%;
    width: 100%;
    transition: all 0.2s;
    z-index: -1;
}
.button-effect:hover {
    color: #fff !important;
    background-color: transparent;
}
.button-effect:hover::before {
    right: 0;
}
.pad{
    padding:120px 0;
}
.ai-c{
    align-items: center;
}

/*====all-variables here ========*/

/*=============header=========*/

.header-top {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    box-shadow: 0px 0px 18px 2px rgba(10, 55, 90, 0.2);
    position: relative;
}
.header-top .row {
    align-items: flex-start;
}


.logo img {
    height: 60px;
    margin-right: 160px;
}
.phone,.email {
    white-space: nowrap;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #80909e;
    margin-right: 10px;
}
.phone::before{
    font-family: "Font Awesome 5 free";
    content: "\f3cd";
    font-weight: bold;
    margin: 2px;
    margin-right: 8px;
}
.email::before {
    font-family: "Font Awesome 5 free";
    content: "\f0e0";
    font-weight: bold;
    margin: 2px;
    margin-right: 8px;
}
.ragister {
    text-transform: uppercase;
    padding-top: 5px;
}

.log-in{
    margin-top: 7px;
    margin-right: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    color: tomato;
}
.ragister .log-in:hover {
    color: #80909e;
}
.ragister .sign-up {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
    color: #80909e;
}
.ragister .sign-up:hover {
    color: #80909e;
    text-decoration: none;
}
/*==============================
nav style
=================================*/
.bg-custom {
    background-color: #ebebeb;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.navbar {
    padding: 0;
}
#header-bottom .nav-item {
    padding: 0 15px;
}
@media (min-width: 768px) {
    .navbar {
        padding: 0 15px;
    }
    .nav-item {
        padding: 0 15px;
    }
}

.navbar-toggler {
    border-color: transparent !important;
}

#header-bottom .nav-link {
    text-align: left;
    text-transform: uppercase;
    line-height: 2rem;
}
@media (max-width: 991px) {
    .navbar .dropdown-item:hover {
        background-color: var(--blue);
    }
}

.nav-link img {
    vertical-align: middle;
    margin-right: 0.5rem;
}


.navbar .dropdown-menu {
    width: 100%;
    box-shadow: 0px 3px 10px 0px rgba(10, 55, 90, 0.2) ;
    background-color: #ebebeb;
    padding-top: 0;
    padding-bottom: 0;
    top: 100%;
    overflow: hidden;
}
.dropdown:after {
    content: "";
    position: absolute;
    top: 95%;
    left: 0%;
    width: 100%;
    height: 10%;
    background-color: transparent;
    display: block;

}
.navbar .dropdown-item:first-child {

}
.navbar .dropdown-item {
    text-transform: uppercase;
    border-bottom:  1px solid #d7d7d7;
    padding-top: 10px;
    padding-bottom: 10px;

}
.navbar .dropdown-item:last-child {
    border-bottom: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}
@media (min-width: 576px) {
    .header-top .row {
        align-items: center;
    }
    .logo img {
        height: 80px;
    }
}
@media (min-width: 992px) {
    .header-top {
        background-position-y: -25px;
    }
    .logo img {
        height: 53px;
    }
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0288d1;
}
.navbar-light .navbar-nav .nav-link {
    padding-top: .6rem;
    padding-bottom: .6rem;
    color: rgba(0,0,0,.5);
}
@media (min-width: 992px) {
    .nav-item {
        border-left: 1px solid #d7d7d7;
    }
    .nav-item:last-child {
        border-right: 1px solid #d7d7d7;
    }
    .nav-link {
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    z-index: 1000;
}

/*courses start*/
#courses{
    padding: 54px 0;
}
#courses p{
    font-size: 13px;
    color: rgba(61, 61, 61, 0.81);
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
}
#courses h2{
    font-size: 18px;
    color: #2c2b5e;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
    text-transform: uppercase;
}
#courses h3 a{
    color: #303030;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
    text-transform: uppercase;
    text-decoration: none;
}
#courses h3 a:hover{
    color: red;
}
#courses figure img{
    height: 300px;
    margin: 0 auto;
}
#courses figure span{
    color: #929292;
    font-size: 11px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 25px;
}
#courses .course{
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
    overflow: hidden;
    height: auto;
}
#courses figcaption{
    background: #fff none repeat scroll 0 0;
    bottom: -75px;
    left: 0;
    padding: 5px 0 30px;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
#courses .course:hover figcaption{
    bottom: 0;
}


/*login page*/
#sign{

}
.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 420px;
    padding: 70px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
}

.user {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

.loginBox h2 {
    margin: 0;
    padding: 0 0 26px;
    color: #ff8c00;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    color: #fff;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

::placeholder
{
    color: rgba(255, 255, 255, 0.5);
}

.loginBox button {
    border: none;
    outline: none;
    height: 40px;
    color: #eee;
    font-size: 16px;
    background-color: #FF8C00;
    cursor: pointer;
    border-radius: 20px;
    margin: 12px 0 18px;
    font-family: 'Roboto Slab', serif;
    width: 185px;
}

.loginBox button:hover {
    background-color: #ff9719;
    color: #fff;
}

.loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 280px) and (max-width: 480px){
    .loginBox{
        width: 260px !important;
    }
}
/*==================sign-up=================*/


.regi-form{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.regi-form h3{
    font-size: 24px;
    color: #637280;
    font-weight: normal;
    padding-top: 40px;
}
.regi-form .title{
    margin-bottom: 40px;
}
.regi-form label{
    font-weight: 400;
    text-transform:  capitalize;
}
.regi-form .form-control{
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    padding: .375rem 0;
    text-align: left;
}
.regi-form .form-control:focus{
    border-bottom: 2px solid #ced4da;
}
.regi-form form button{
    background: var(--white);
    color: #637280;
    padding: 10px 45px;
    border-radius: 22.5px;
    transition: 0.3s;
    border:1px solid var(--blue);
    text-transform: capitalize;
    width: 162px;
    height: 45px;
}
.regi-form form button:hover{
    background: var(--blue);
    color: var(--white);
    padding: 10px 45px;
    border-radius: 22.5px;
}
.regi-form .exe{
    color: #637280;
    margin: 30px;
}
.regi-form .exe a{
    text-transform: capitalize;
    margin-left: 5px;
}

/*landing page*/
#landingDetails{
    padding: 80px 0;
}
#landingDetails h2{
    text-align: center;
    color: tomato;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Slab',sans-serif;
}

#landing{
    padding: 80px 0 188px;
}

#landing .landingLogin{
    padding: 18px 80px;
    background: #f87b54;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}


#landing .landingReg,.button{
    padding: 18px 80px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}

/*course Info*/
#mainContent .contentHeader{
    background-image: linear-gradient(90deg, #005BAB, #005BAB);
    padding: 20px 0;
}
.contentHeader h3{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.contentHeader .button {
    padding: 11px 8px !important;
    background: #80cd33;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 13px !important;
    transition: 0.5s ease;
    border: 1px solid transparent;
}
.contentHeader h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    text-align: right;
}
.contentHeader p a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0 !important;
}
.contentHeader p{
    text-align: right;
    margin-bottom: 0;
}
.contentBody{
    padding: 10px 0;
}
.contentBody .description h6{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: tomato;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 21px;
}
.contentBody .description p{
    color: #929292;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.contentBody .learn h6{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #80cd33;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-top: 35px;
}
.contentBody .learn ul{
    list-style-type: none;
}
.contentBody .learn ul li{
    margin-bottom: 8px;
}
.contentBody .learn ul li i{
    margin-right: 10px;
    color: tomato;
}




/*footer start*/
footer{
    background-color: rgba(0,0,0,0.8);
    padding: 35px 0 13px;
    clear: both;
}
footer p{
    color: #5cff11;
    font-size: 16px;
    margin: 15px 0 0;
    padding: 0;
}
footer p a{
    color: #29c0d4;
}
footer p a:hover{
    color: #f87b54;
    text-decoration: none;
    font-size: 16px;
}
footer ul li{
    display: inline-block;

}
footer ul li a{
    font-size: 18px;
    width: 56px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px 0 5px;
    margin-right: 6px;
    background: #656565;
}
footer ul li a i:hover{
    color: #fff;
    transition: 0.5s ease;
}
footer ul li a i{
    color: #333;
    padding: 11px 11px 22px 11px;
}
footer ul li:nth-child(2) a i{
    padding-right: 7px;
    padding-left: 7px;
}
footer ul li:nth-child(3) a i{
    padding-right: 8px;
    padding-left: 9px;
}
footer ul li:nth-child(3) a{
    padding-bottom: 6px;
}
footer ul li:nth-child(4) a i{
    padding-right: 8px;
    padding-left: 9px;
}
footer ul li:nth-child(4) a{
    padding-bottom: 6px;
}
/*answer*/

.contentBody .question p {
    margin: 6px 0 7px;
    color: tomato;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}

.contentBody .question {
    padding: 3px 30px 4px;
}

.contentBody .question label {
    color: #333333;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Roboto Slab', sans-serif;
}
.contentBody .question label span{
    background-color: yellow;
}

#smallFooter{
    padding-top: 0 !important;
    text-align: center;
}
#myCourses{
    margin-top: 16px;
}
#myCourses .complete img,#myCourses .remaining img{
    width: 150px;
    height: 80px;
    /margin: 0 auto;
}
#myCourses .complete .blogBord,#myCourses .remaining .blogBord{
    border-bottom: 1px solid #333333;
}
#myCourses .description h4{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: tomato;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
    padding-top: 13px;
}
#myCourses .description p{
    color: #929292;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    margin-bottom: 8px;
}
#myCourses .button{
    padding: 18px 30px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 23px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}
.contentHeader .lorem{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0 !important;
    text-align: left;
}
.contentHeader .tnx{
    margin-bottom: 9px;
}
.contentHeader .score{
    margin-bottom: 0;
}

/*summery*/

#summery h2{
    text-align: center;
    color: tomato;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto Slab',sans-serif;
}

#summery{
    padding: 60px 0 84px;
}

#summery .landingLogin{
    padding: 18px 80px;
    background: #f87b54;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}


#summery .landingReg,.button{
    padding: 18px 80px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 2px;
    margin-top: 30px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 18px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}
.contentBody .Details{
    margin-bottom: 80px;
}
.contentBody .table-padding{
    margin-top: 28px;
}
.contentBody .question .ok{
    background: tomato;
}
.subButton{
    padding: 5px 30px;
    background: #80cd33;
    color: #fff;
    letter-spacing: 1px;
    margin-top: 3px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 12px;
    transition: 0.5s ease;
    border: 1px solid transparent;
}
.notify{
    margin-bottom: 9px;
    font-size: 15px;
}
.table-bordered td{
    font-size: 13px;
}